$main-font-size: 14px;

$family-primary: 'Work Sans';
$family-secondary: 'Libre Baskerville', serif;

$header-grey: #565656;
$light-grey: #e8e8e8;
$main-grey: #333333;
$quote-grey: #797979;
$dark: #0f0f0f;
$light: #dddddd;
$yellow: #ffe50a;